<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title id="appTitle">Coordinador de Reuniones Multizona</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div class="header-container">
    <h1 id="title">Coordinador de Reuniones Multizona</h1>
    <div id="lang-switcher">
      <button id="lang-es">游쀯릖</button>
      <button id="lang-en">游쥟릖</button>
    </div>
  </div>

  <div class="template-section">
    <label for="templates" id="templatesLabel">Plantillas</label>
    <div class="template-controls">
      <select id="templates"></select>
      <button id="loadTemplateBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M4.5 2.5a.5.5 0 0 1 .5.5V5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5V8h-.5a.5.5 0 0 1-.5-.5V7.5h-.5a.5.5 0 0 1-.5-.5V7h-.5a.5.5 0 0 1-.5-.5V6.5h-.5a.5.5 0 0 1-.5-.5V6h-.5a.5.5 0 0 1-.5-.5V5.5h-.5a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h.5z"/>
          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
        </svg>
        Cargar
      </button>
      <button id="saveTemplateBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1-1H7.5a1 1 0 0 0-1 1H2zm3 4a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1zM6 4.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm3 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
        </svg>
        Guardar
      </button>
    </div>
  </div>

  <label for="company" id="companyLabel">Empresa</label>
  <input type="text" id="company" />

  <label for="meetingTitle" id="meetingTitleLabel">T칤tulo de la reuni칩n</label>
  <input type="text" id="meetingTitle" oninput="this.value = this.value.toUpperCase()" />

  <label for="description" id="descriptionLabel">Descripci칩n</label>
  <input type="text" id="description" />

  <label for="agenda" id="agendaLabel">Agenda (un punto por l칤nea)</label>
  <textarea id="agenda" rows="4"></textarea>

  <label for="hostDateTime" id="hostDateTimeLabel">Fecha y hora del anfitri칩n</label>
  <div class="host-time-controls">
    <input type="datetime-local" id="hostDateTime" />
    <button id="suggestTimeBtn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M13.46 3.46a.5.5 0 0 1 .708 0l1.414 1.414a.5.5 0 0 1 0 .708l-1.414 1.414a.5.5 0 0 1-.708 0L12.05 5.586l1.414-1.414zM12.05 9.97l1.414 1.414a.5.5 0 0 1 0 .708l-1.414 1.414a.5.5 0 0 1-.708 0L9.97 12.05l1.414-1.414zM3.46 13.46a.5.5 0 0 1 0 .708l-1.414 1.414a.5.5 0 0 1-.708 0L.025 14.17a.5.5 0 0 1 0-.708l1.414-1.414a.5.5 0 0 1 .708 0zM5.586 12.05l-1.414 1.414a.5.5 0 0 1-.708 0L2.05 12.05l1.414-1.414a.5.5 0 0 1 .708 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zM8 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm-5.5-7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zM11 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
      </svg>
      Sugerir Hora
    </button>
  </div>

  <label for="hostCountry" id="hostCountryLabel">Pa칤s del anfitri칩n</label>
  <select id="hostCountry"></select>

  <label for="link" id="linkLabel">Enlace a la videollamada</label>
  <input type="url" id="link" />

  <label for="countries" id="countriesLabel">Selecciona los pa칤ses participantes</label>
  <input type="text" id="searchCountry" oninput="filterCountries()" />
  <select id="countries" multiple></select>

  <div id="timezone-visualizer-container">
    <label id="visualizerLabel">Visualizador de Horarios</label>
    <div id="timezone-visualizer"></div>
  </div>

  <label for="presetGreetings" id="presetGreetingsLabel">Seleccionar un saludo final</label>
  <select id="presetGreetings" onchange="applyGreeting()"></select>

  <label for="farewell" id="farewellLabel">Mensaje de despedida</label>
  <input type="text" id="farewell" />

  <button onclick="generateMessage()" id="generateButton">Generar Mensaje</button>

  <div id="output"></div>

  <div class="share-buttons">
    <button onclick="copyToClipboard()" id="copyButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M13,0H6A2,2,0,0,0,4,2V14a2,2,0,0,0,2,2H13a2,2,0,0,0,2-2V2A2,2,0,0,0,13,0ZM13,14H6V2H13Z"/>
        <path d="M3,3H1A1,1,0,0,0,0,4V15a1,1,0,0,0,1,1H10a1,1,0,0,0,1-1V14H3Z"/>
      </svg>
      Copiar
    </button>
    <button onclick="share('whatsapp')" id="whatsappButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
      </svg>
      WhatsApp
    </button>
    <button onclick="share('telegram')" id="telegramButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32C7.654 8.59 11.01 6.55 11.422 6.22c.413-.33.614-.39.804-.405.25-.02.487.03.663.22.19.205.228.522.228.593 0 .041-.01.09-.034.143-.161.411-2.94 2.85-4.12 3.96-.333.36-.626.65-.926.85-.314.2-.67.33-.997.33-.35 0-.65-.11-.87-.33-.224-.22-.27-.51-.27-.62 0-.065.016-.13.046-.197.04-.085.16-.29.33-.515.15-.19.34-.41.56-.63.26-.26.5-.5.71-.71.25-.25.47-.47.65-.65zm-2.165 4.145c.16-.16.29-.3.41-.44.12-.14.23-.28.32-.42.09-.14.15-.28.19-.41.04-.13.06-.25.06-.36 0-.2-.08-.37-.23-.51-.14-.14-.33-.2-.55-.2-.17 0-.33.03-.46.1.02.04.03.07.04.1.01.03.02.06.02.09 0 .05-.01.1-.03.15-.02.05-.04.1-.07.15-.03.05-.06.1-.09.15-.03.05-.06.1-.1.15-.03.05-.07.09-.1.14-.04.05-.07.1-.11.14-.04.05-.08.09-.11.13-.04.04-.08.09-.12.13-.04.04-.08.08-.12.12-.04.04-.08.08-.12.12l-.09.09c-.08.08-.15.15-.22.22-.07.07-.13.13-.2.2-.07.07-.13.13-.19.19-.06.06-.12.12-.18.18s-.11.11-.17.17c-.06.06-.11.11-.17.17l-.11.11-.1.1c-.05.05-.09.09-.14.14-.05.05-.09.09-.14.14-.05.05-.09.09-.14.14l-.06.06c-.05.05-.1.1-.15.15-.05.05-.1.1-.15.15z"/>
      </svg>
      Telegram
    </button>
  </div>

  <div class="license">
    <p id="licenseText">
      춸 2025 - Herramienta desarrollada por Maximiliano.C bajo 
      <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank" id="licenseLink">Licencia CC BY 4.0</a>.
    </p>
  </div>

  <script src="script.js"></script>
</body>
</html>
